$primary-color: #0d766e;
$text-color: #333;
$background-color: #f4f4f4;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$border-radius: 8px;

.thanks {
	width: calc(100vw - 40px);
	max-width: 900px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	animation: fadeIn 1s ease-in-out forwards;
	margin: 0 auto;

	.certificateSkeleton {
		margin: 20px auto;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	button {
		cursor: pointer;
		width: 100%;
		margin-top: 20px;
		max-width: 300px;
		display: inline-block;
		font-weight: 400;
		color: #333;
		text-align: center;
		vertical-align: middle;
		user-select: none;
		background-color: #9ffffb;
		border: 1px solid #333;
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: .25rem;
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

		&:hover {
			color: #fff;
			background-color: $primary-color;
		}

		&:focus {
			box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
		}
	}
}

.heroSection {
	width: calc(100vw - 40px);
	max-width: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 40px 20px;
	margin-top: 40px;
	border-radius: $border-radius;
}

.mainHeading {
	color: $primary-color;
	margin-bottom: 1rem;
}

.introText {
	font-size: 16px;
	color: $text-color;
	font-weight: 400;
}

.heroImage {
	width: 100%;
	max-width: 600px;
	height: auto;
	border-radius: $border-radius;
}

.resultDescription {
	margin-top: 20px;
	text-align: left;
	padding: 20px;
	background: #fff;
	width: calc(100vw - 40px);
	max-width: 900px;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	h2 {
		color: $primary-color;
		font-size: 24px;
		margin-bottom: 1rem;
		text-align: center;
	}

	p {
		color: $text-color;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
}

.return {
	cursor: pointer;
	margin-top: 40px;
	padding: 20px 40px;
	display: flex;
	background: #9ffffb;
	color: #fff;

	&_block {
		margin: 20px;
	}
}