section {
	width: 100%;
	max-width: 900px;
}

.HomeV2Cereb {
	width: calc(100vw - 40px);
	display: flex;
	padding: 40px 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 40px 20px;
	animation: fadeIn 1s ease-in-out forwards;

	.heroSection {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 20px;

		@media (max-width: 768px) {
			width: 100%;
			align-items: center;
			flex-direction: column-reverse;
		}

		.left,
		.right {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 30px;

			@media (max-width: 768px) {
				align-items: center;
			}
		}

		.left {
			align-items: flex-start;
		}

		.heroImage {
			width: 30vw;
			max-width: 400px;
			min-width: 300px;
		}

		.introText {
			display: flex;
			align-items: flex-start;
			gap: 10px;
		}
	}

	.buttonSkeleton {
		margin-top: 20px;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}