.quiz {
  border-radius: 30px;
  padding: 20px;
  width: 100vw;
  max-width: 398px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  overflow: scroll;
  padding-bottom: 100px;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 300px;
    opacity: 0;
    margin-top: 32px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    li {
      background-color: #fff;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 12px;
      border-radius: 4px;

      font-size: 10px;
      font-style: normal;
      font-weight: 500;

      .fade {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        &.show {
          visibility: visible;
          opacity: 1;
        }
      }

      .quest_icon {
        height: 50px;
        width: 80px;
        background-size: 310%;
        background-repeat: no-repeat;
        transition: all 0.2s ease-in-out;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }

        &_1 {
          background-position: 5px -141px;
        }

        &_2 {
          background-position: -82px -141px;
        }

        &_3 {
          background-position: -170px -141px;
        }

        &_4 {
          background-position: 5px -207px;
        }

        &_5 {
          background-position: -82px -207px;
        }

        &_6 {
          background-position: -170px -207px;
        }

        &_square {
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }

          &_1 {
            background-position: 5px -168px;
            background-size: 370%;
          }

          &_2 {
            background-position: -70px -168px;
            background-size: 370%;
          }

          &_3 {
            background-position: -146px -168px;
            background-size: 370%;
          }

          &_4 {
            background-position: -223px -168px;
            background-size: 370%;
          }

          &_5 {
            background-position: 5px -230px;
            background-size: 370%;
          }

          &_6 {
            background-position: -70px -230px;
            background-size: 370%;
          }

          &_7 {
            background-position: -146px -230px;
            background-size: 370%;
          }

          &_8 {
            background-position: -222px -230px;
            background-size: 370%;
          }
        }
      }
    }
  }

  .show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    .fade {
      visibility: visible;
    }

    .withImage_text {
      opacity: 1;
    }
  }

  .eight {
    max-width: 320px;
  }
}

.preventClick {
  pointer-events: none;
}

.questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 14px;

  &_title {
    padding: 0 20px;
    font-size: 24px;
    color: #2a9d8f;
  }
}

.quest_image {
  width: 340px;
  height: 220px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &_square {
    width: 300px;
    height: 250px;
  }
}