.container {
	text-align: center;
	margin: 20px;
	max-width: 600px;
}

.highlight {
	color: #007bff;
}

.form {
	margin-top: 20px;
	max-width: 400px;
	margin: 20px auto;
}

.emailInput {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.submitButton {
	width: 100%;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #0d766e;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition-duration: .3s;
}

.submitButton:hover {
	background-color: #12a499;
}

.description {
	margin-top: 20px;
}

.disclaimer {
	font-size: 12px;
	color: #6c757d;
	margin-top: 20px;
	max-width: 400px;
	margin: 20px auto;
}

.link {
	color: #007bff;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}