.paymentForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #fff;
	color: #333;
	padding: 2rem;
	border-radius: 10px;
	font-weight: 400;
	text-align: left;
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
	margin: 0 auto;
}

.formTitle {
	margin: 20px 0;
	color: #0d766e;
}

.paymentFormWrapper {
	box-shadow: 0 4px 8px #17c7b8;
	margin-bottom: 60px;
	border-radius: 10px;
}

.cardDetails {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.cardInfo {
	display: flex;
	gap: 1rem;
}

.cardExpiry,
.cardCvc {
	flex: 1;
}

.emailField {
	display: flex;
	flex-direction: column;
}

.cardElement {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	color: #333;
}

.submitButton {
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	background-color: #0d766e;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.submitButton:hover {
	background-color: #0056b3;
}

.submitButton:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}

.disabled {
	opacity: 0.6;
	pointer-events: none;
}

.priceInfo {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.priceItem {
	display: flex;
	font-size: 16px;
	justify-content: space-between;
}

.discount {
	color: #0D7664;
	font-weight: 600;
	font-size: 18px;
}

.priceSeparator {
	border-top: 1px solid #ccc;
	margin: 0.5rem 0;
}

.priceTotal {
	display: flex;
	font-weight: 600;
	color: #0056b3;
	justify-content: space-between;
}

.oldPrice {
	text-decoration: line-through;
	color: #fb8a11;
	font-size: 14px;
}

.total {
	color: #0056b3;
	font-size: 24px;
}

.terms {
	font-size: 12px;
	text-align: center;
}

.terms a {
	color: #0d766e;
	font-size: 12px;
	text-decoration: none;
}

.terms a:hover {
	text-decoration: underline;
}

.warning {
	font-size: 10px;
	font-weight: 400;
	color: #555;
	text-align: center;
}

.error {
	font-size: 14px;
	font-weight: 400;
	color: #bf1919;
	text-align: center;
}