.certificateContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.certificate {
	position: relative;
	color: #4921af;
	width: 100%;
	max-width: 100%;
}

.heroImage {
	width: 100%;
}

.certificate_name,
.certificate_iq,
.certificate_iqText,
.certificate_date {
	position: absolute;
	width: 100%;
	text-align: center;
}

.certificate_name {
	top: 34%;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: 400;
	text-transform: capitalize;
}

.certificate_iq {
	top: 50%;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: 400;
}

.certificate_iqText {
	top: 70%;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: 400;
}

.certificate_date {
	top: 76%;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: 400;
}

.nameInputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.nameInput {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	max-width: 300px;
}