.progress {
  position: relative;
  height: 9px;
  width: 100%;
  border-radius: 5px;
  background-color: #F0F0FF;

  &_container {
    position: relative;
    width: 100vw;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 20px;

    gap: 29px;
    margin: 0 auto 40px auto;
  }

  &__inner {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: rgb(18, 231, 48);
    transition: all 0.3s ease-in-out;
    background: #2a9d8f;
  }

  &__logo img {
    width: 32px;
  }

  &__arrow {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-bottom: 2px solid #2a9d8f;
    }
  }
}